@page
@model NorthernWinterBeat.Pages.VenueRazor.ConcertPageModel
@{
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-8"> <h3> @Model.concert?.Artist </h3> </div>
        </div>
        <div class="row">
            <div class="col-8"> <p><b>Capacity:</b> @Model?.concert?.Bookings?.Count() / @Model.concert?.Venue?.Capacity </p> </div>
            <div class="col-8"> <p><b>Venue: </b>@Model.concert?.Venue?.Name </p> </div>
            <div class="col-8">
                <p>
                    <b>Start:</b> <br />
                    <b> @Model.concert?.Start.DayOfWeek </b>@Model.concert?.Start.ToString("dd-MM") <br> @Model.concert?.Start.ToShortTimeString() - @Model.concert?.End.ToShortTimeString()
                </p>
            </div>
            <div class="col-8"> <p> <b>Description:</b> <br> @Model.concert?.ArtistDescription </p> </div>
        </div>
    </div>
</div>
<br>
<div class="card ">
    <div class="card-body">
        <h2>List of all bookings</h2>
        <div class="list-group">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-default">Name</button>
                        </th>
                        <th>
                            <button class="btn btn-default">Email</button>
                        </th>
                        <th>
                            <button class="btn btn-default">Ticket Number</button>
                        </th>
                        <th>
                            <button class="btn btn-default">BookingDato  </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (Booking item in Model.concert?.Bookings)
                        {
                            <tr>
                                <td>
                                    @item.Participant?.Name
                                </td>
                                <td>
                                    @item.Participant?.Username
                                </td>
                                <td>
                                    @item.Participant?.Ticket.TicketNumber
                                </td>
                                <td>
                                    @item.BookingDate.ToShortTimeString()  @item.BookingDate.ToShortDateString()
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
