@page
@model NorthernWinterBeat.Pages.ParticipantRazor.ParticipantBookingsModel
@{
}

<h1 style="text-align:center">My Bookings</h1>
@{
    foreach (var booking in Model.bookings)
    {
        if (booking.State == Booking.BookingState.INACTIVE)
        {
            continue;
        }
        <div class="card mb-2 p-2">
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center">
                        <b>@booking.Concert.Artist</b>
                    </li>
                    <li class="list-group-item text-center">
                        <b>@booking.Concert.Start.DayOfWeek </b> @booking.Concert.Start.ToString("dd-MM")  <br> @booking.Concert.Start.ToShortTimeString() - @booking.Concert.End.ToShortTimeString()
                    </li>
                    <li class="list-group-item text-center">
                        <b> @booking.Concert.Venue.Name </b> <br />
                        @booking.Concert.Venue.Address
                    </li>
                </ul>
            </div>
            <div class="text-center">
                @if (booking.State == Booking.BookingState.ACTIVE)
                {
                    <button type="button" class="btn btn-primary text-center" data-toggle="modal" data-target="#activateBooking@(booking.ID)" data-id=@booking.ID>
                        Activate booking
                    </button>
                }

                <button type="button" class="btn btn-secondary text-center open-remove" data-toggle="modal" data-target="#removeBooking@(booking.ID)" data-id=@booking.ID>
                    Remove booking
                </button>
                <!-- Activate booking modal -->
                <div class="modal fade " id="activateBooking@(booking.ID)" tabindex="-1" role="dialog" aria-labelledby="activateBookingLabel@(booking.ID)" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="activateBookingLabel@(booking.ID)">Activate booking</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                The booking needs to be activated when you are entering the concert, are you sure that you want to activate your booking?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <form asp-page-handler="ActivateBooking" method="post">
                                    @Html.Hidden("id", booking.ID)
                                    <input type="submit" class="btn btn-primary" value="Yes" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Remove booking modal -->
                <div class="modal fade " id="removeBooking@(booking.ID)" tabindex="-1" role="dialog" aria-labelledby="removeBooking@(booking.ID)Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="removeBooking@(booking.ID)">Remove booking</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure that you want to remove your booking? You cannot undo this.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <form asp-page-handler="RemoveBooking" method="post">
                                    @Html.Hidden("id", booking.ID)
                                    <input type="submit" class="btn btn-primary" value="Yes" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}



<br>
<br>
<br>


@{
    bool flag = true;

    foreach (var booking in Model.bookings)
    {

        if (booking.State == Booking.BookingState.ACTIVE)
        {
            continue;
        }
        if (flag == true)
        {
            <h2 style="text-align:center">Used Bookings</h2>
            flag = false;
        }
        <div class="card mb-2 p-2">
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center">
                        <b> @booking.Concert.Artist</b>
                    </li>
                    <li class="list-group-item text-center">
                        @booking.Concert.Start
                    </li>
                    <li class="list-group-item text-center">
                        @booking.Concert.Venue.Address
                    </li>
                </ul>
            </div>
        </div>
    }
}