@page
@model NorthernWinterBeat.Pages.ParticipantRazor.ParticipantShowBookingModel
@{
}

@{
    if (Model.Participant != null)
    {
        <div class="text-center" style="overflow-wrap:break-word">
            <h2>Participant information</h2>
            <div style="font-size:x-large">
                <p>@Model.Participant?.Ticket.TicketNumber</p>
                <p>@Model.Participant?.Name</p>
                <p>@Model.Participant?.Email</p><br />
            </div>
            <h2>Concert information</h2>
            <div style="font-size:x-large">
                <p>@Model.Concert?.Artist</p>
                <p>@Model.Concert?.Venue?.Name</p>
                <p>@Model.Concert?.Start</p><br />
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary text-center" data-toggle="modal" data-target="#goBackBooking">
                    Return to bookings
                </button>
            </div>
        </div>
    } else
    {
        <p>It seems you do not have a valid booking to display. <br>This is either an error, or because the booking has already been activated. If you have not activated your booking, please go back and try again. </p>
    }
}





<!-- Show booking modal -->
<div class="modal fade " id="goBackBooking" tabindex="-1" role="dialog" aria-labelledby="goBackBookingLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="goBackBookingLabel">Return to bookings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to return to your bookings? Doing this will use this booking.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a class="nav-link text-dark" asp-area="" asp-page="/ParticipantRazor/ParticipantBookings">
                    <input type="button" class="btn btn-primary" value="Yes" />
                </a>
            </div>
        </div>
    </div>
</div>