@page
@model NorthernWinterBeat.Pages.ParticipantRazor.ParticipantShowBookingModel
@{
}

@{
    if (Model.Participant != null)
    {
        <div class="text-center">
            <h1>Your booking</h1>
            <div>
                <p>Ticket number: </p>
                <h3>@Model.Participant.Ticket.TicketNumber</h3>
                <p>Name</p>
                <h3>@Model.Participant.Name</h3>
                <p>Email</p>
                <h3>@Model.Participant.Email</h3>
                <br>
                <p>Concert</p>
                <h3>@Model.Concert.Artist</h3>
                <p>Venue</p>
                <h3>@Model.Concert.Venue.Name</h3>
                <p>Start time</p>
                <h3>
                    @Model.Concert.Start
                    @*@Model.Concert.Start.Date.ToString("dd-MM-yyyy") @Model.Concert.Start.Date.ToString("HH:mm")*@
                </h3>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary text-center" data-toggle="modal" data-target="#goBackBooking">
                    Return to bookings
                </button>
            </div>
        </div>
    } else
    {
        <p>It seems you dont have a valid booking to display <br>This is either an error, or because the booking have already been activated. If it is an error, go back and try again. </p>
    }
}





<!-- Show booking modal -->
<div class="modal fade " id="goBackBooking" tabindex="-1" role="dialog" aria-labelledby="goBackBookingLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="goBackBookingLabel">Go back</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Going back will make this booking invalid.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a class="nav-link text-dark" asp-area="" asp-page="/ParticipantRazor/ParticipantBookings">
                    <input type="button" class="btn btn-primary" value="Yes" />
                </a>
            </div>
        </div>
    </div>
</div>