<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Northern Winter Beat - Booking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .active {
            background-color: rgba(211,211,211,0.5);
            color: white;
            border-radius: 0.25em;
        }
    </style>
</head>

<body style="background-color:white;">
    @{var path = Context.Request.Path.ToString(); }

    <nav class="navbar fixed-bottom navbar-expand bg-light justify-content-center" style="text-align:center;">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-center" style="width: 100%;">
                <li class="nav-item @(path.Contains("ParticipantConcertOverview") ? "active" : "")">
                    <a class="nav-link text-dark" asp-area="" asp-page="/ParticipantRazor/ParticipantConcertOverview">
                        <img src="~/Graphics/Icons/calendar.svg" style="width: 25%; height: 25%" />
                    </a>
                </li>
                <li class="nav-item @(path.Contains("ParticipantBookings") ? "active" : "")">
                    <a class="nav-link text-dark" asp-area="" asp-page="/ParticipantRazor/ParticipantBookings">
                        <img src="~/Graphics/Icons/bookmark.svg" style="width: 25%; height: 25%" />
                    </a>
                </li>
                <li class="nav-item @(path.Contains("ParticipantFAQ") ? "active" : "")">
                    <a class="nav-link text-dark" asp-area="" asp-page="/ParticipantRazor/ParticipantFAQ">
                        <img src="~/Graphics/Icons/faq.svg" style="width: 25%; height: 25%" />
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <style>
        #LogOutLink {
            color: black;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            right: 5px;
            top: 5px
        }
    </style>

    <header class="blog-header py-3" style=" background-image: url(../Graphics/Pictures/NWB_Tekstureksempler_C6.jpg);
        background-repeat: no-repeat;
        backface-visibility: visible;
        width: 100%">
        <div class="row align-items-center" style="margin:0">
            <div class="col-4">
                <a class="text-muted" href="#"></a>
            </div>
            <div class="col-4 text-center">
                <a asp-page="/participantrazor/participantconcertoverview" class="blog-header-logo text-dark">
                    <img src="~/graphics/pictures/nwb_logo_white_transparent.png"
                         style="
                            max-height:5em; max-width:100%;" />
                </a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a asp-page="/ParticipantRazor/LogOut" id="LogOutLink"
                   class="btn btn-sm btn-outline-secondary" style="background-color:whitesmoke;"> Log out </a>
            </div>
        </div>
    </header>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script>
        var selector = '.navbar-nav li';

        $(selector).on('click', function () {
            $(selector).removeClass('active');
            $(this).addClass('active');
        });
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>

