@page
@model NorthernWinterBeat.Pages.Admin.ConcertPageModel
@{
}
Her skal siden med information omkring den specifikke koncert være. 
@{

    <p>@Model.concert.ID</p>
    <p>@Model.concert.Artist</p>
    <p>@Model.concert.Venue.Name</p>
    <p>@Model.concert.Capacity</p>
    <p>@Model.concert.Start</p>

}