@page
@model NorthernWinterBeat.Pages.Admin.ConcertPageModel
@inject NorthernWinterBeatLibrary.Managers.IImageManager ImageManager
@{
    ViewData["Title"] = "Concerts";
}
<style>
    img {
        max-height: 8em;
        max-width: 12em;
    }
</style>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-8"> <h3> @Model.concert.Artist </h3> </div>
        </div>



        <div class="row">

            <div class="col-8">
                <p><b>Capacity:</b> @Model?.concert?.Bookings?.Count() / @Model.concert.Venue?.Capacity </p>
                <p><b>Venue: </b>@Model.concert.Venue?.Name </p>

                <p>
                    <b>Start:</b> <br />

                    <b> @Model.concert.Start.DayOfWeek </b>@Model.concert.Start.ToString("dd-MM") <br> @Model.concert.Start.ToShortTimeString() - @Model.concert.End.ToShortTimeString()
                </p>
            </div>

            <div class="col-4 float-right">
                @{
                    var path = ImageManager.ContainerURL + '/' + (Model.concert.PicturePath == "" ? "150.png" : Model.concert.PicturePath);
                }
                <img class="container-fluid float-right" src="@path" />
            </div>


            <div class="col-8"> <p> <b>Description:</b> <br> @Model.concert.ArtistDescription </p> </div>
            <div class="col-4">
                <button type="button" class="float-right" data-toggle="modal" onclick="location.href = '@(Url.Page("EditConcert", new { id = Model.concert.ID }))'">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </div>
            <div class="col-4">
                <input type="button" class="btn btn-danger" value="Delete Concert" data-toggle="modal" data-target="#deleteConcert">
            </div>

        </div>
    </div>
</div>
<br>
<div class="card ">
    <div class="card-body">
        <h2>List of all bookings</h2>
        <div class="list-group">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-default th-button">Name</button>
                        </th>
                        <th>
                            <button class="btn btn-default th-button">Username</button> @*Hvis udername bliver Email, bliver dette til email *@
                        </th>
                        <th>
                            <button class="btn btn-default th-button">BookingDato  </button>
                        </th>
                        <th>
                            <button class="btn btn-default th-button-right no-outline"> Remove Booking</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        @foreach (Booking booking in Model.concert.Bookings)
                        {
                            <tr>
                                <td>
                                    @booking.Participant?.Name
                                </td>
                                <td>
                                    @booking.Participant?.Username
                                </td>
                                <td>
                                    @booking.BookingDate
                                </td>
                                <td>
                                    <button class="btn btn-secondary float-right" style="margin: 20px" data-toggle="modal" data-target="#removeBooking@(booking.ID)">
                                        Remove
                                    </button>
                                </td>
                            </tr>

                            <!-- Remove booking modal -->
                            <div class="modal fade " id="removeBooking@(booking.ID)" tabindex="-1" role="dialog" aria-labelledby="removeBooking@(booking.ID)Label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="removeBooking@(booking.ID)">Remove booking</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure that you want to remove your booking? You cannot undo this.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            <form asp-page-handler="RemoveBooking" method="post">
                                                @Html.Hidden("bookingid", booking.ID)
                                                <input type="submit" class="btn btn-primary" value="Yes" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteConcert" tabindex="-1" role="dialog" aria-labelledby="deleteConcertLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConcert"> Delete Concert? </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this concert?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> No </button>

                <form asp-page-handler="DeleteConcert" method="post">
                    @Html.Hidden("id", Model.concert.ID)
                    <button type="submit" class="btn btn-secondary" @*data-toggle="modal"*@>
                        Delete concert
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
