@page
@model NorthernWinterBeat.Pages.Admin.EditConcertModel
@{
}

<div class="text-lg-center">
    <h1 class="display-3"> Edit concert information </h1>
</div>

<form method="post" asp-page-handler="EditConcert" data-ajax="false" runat="Server" enctype="multipart/form-data">
    @Html.Hidden("id", Model.concert.ID)
    <h3>Artist</h3>
    <input name="ArtistEntered" type="text" placeholder="Enter artist" minlength="1" contenteditable="true" value="@Model.concert.Artist" />
    <br>
    <h3>Description</h3>
    <textarea cols="75" rows="10" name="DescriptionEntered" placeholder="Enter description">@Model.concert.ArtistDescription</textarea>
    <br>
    <h3>Venue</h3>
    <select id="myList" name="VenueEntered">
        <option value="@Model?.concert?.Venue?.Name"> @Model?.concert?.Venue?.Name</option>

        @{
            foreach (var venue in Model.venues)
            {
                if (venue.Name != Model?.concert?.Venue?.Name)
                {
                    <option value="@venue.Name"> @venue.Name</option>
                }
            }
        }
    </select>

    <h3>Image</h3>
    @(Model.concert.PicturePath != "" ? "Current:" + Model.concert.PicturePath : "")
    <br />
    <input name="ImageEntered" type="file" placeholder="Add image" />
    <br>

    <h3>Date</h3>
    <input name="DateEntered" type="date" placeholder="Enter date" contenteditable="true" min="2021-01-28" max="2021-01-30"
           value="@Model.FindDate()" />
    <br>
    <h3>Start time</h3>
    <input name="StartTimeEntered" type="time" placeholder="Enter start time" contenteditable="true" value="@Model.concert.FormatTime(Model.concert.Start)" />
    <br>
    <h3>End time</h3>
    <input name="EndTimeEntered" type="time" placeholder="Enter end time" contenteditable="true" value="@Model.concert.FormatTime(Model.concert.End)" @*value="14:20"*@ />
    <br>
    <br>

    <input type="submit" value="Confirm">
    <input type="button" value="Cancel" data-toggle="modal" data-target="#Cancel">

</form>



<div class="modal fade" id="Cancel" tabindex="-1" role="dialog" aria-labelledby="CancelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Cancel"> Edit concert ? </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to finish editing without saving?
            </div>
            <div class="modal-footer">


                <input type="button" class="btn btn-secondary" data-dismiss="modal" value="No" />
                <form method="post" asp-page-handler="Cancel">
                    @Html.Hidden("id", Model.concert.ID)
                    <input type="submit" class="btn btn-primary" value="Yes" />
                </form>

            </div>
        </div>
    </div>
</div>
