@page
@model NorthernWinterBeat.Pages.Admin.EditVenueModel
@{
}

<div class="text-lg-center">
    <h1 class="display-3"> Edit venue information </h1>
</div>

<form method="post" asp-page-handler="EditVenue">

    @Html.Hidden("id", Model.venue.ID)
    <h3>Venue</h3>
    <input name="VenueEntered" type="text" placeholder="@Model.venue.Name"  required value="@Model.venue.Name" />
    <br>
    <h3>Capacity</h3>
    <input name="CapacityEntered" type="number" placeholder="@Model.venue.Capacity" value="@Model.venue.Capacity" />
    <br>
    <h3>Address</h3>
    <input name="AddressEntered" type="text" placeholder="@Model.venue.Address" value="@Model.venue.Address" />

    <br>

    <input type="submit" value="Confirm" @*asp-area="" asp-page="/Admin/Venues"*@>

    <input type="button" value="Cancel" data-toggle="modal" data-target="#Cancel">
</form>






<div class="modal fade" id="Cancel" tabindex="-1" role="dialog" aria-labelledby="CancelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Cancel"> Finish editing venue? </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to finish editing this venue?
            </div>
            <div class="modal-footer">

                <input type="button" class="btn btn-secondary" data-dismiss="modal" value="No" />
                <form method="post" asp-page-handler="Cancel" >
                    @Html.Hidden("id", Model.venue.ID)
                    <input type="submit" class="btn btn-primary" value="Yes" />
                </form>
            </div>
        </div>
    </div>
</div>