@page
@model NorthernWinterBeat.Pages.Admin.VenuePageModel
@{
}


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-8"> <h3> Venue Name: @Model.venue.Name </h3> </div>
            <div class="col-4"> <p class="float-right"> Capacity: @Model.venue.Capacity </p> </div>
        </div>

        <div class="row">
            <div class="col-8"> <p> Address: @Model.venue.Address</p> </div>
            <div class="col-4">
                <button type="button" class="float-right" data-toggle="modal" onclick="location.href = '@(Url.Page("EditVenue", new { id = Model.id }))'">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </div>
            <div class="col-4">
                <form asp-page-handler="DeleteVenue" method="post">
                    @Html.Hidden("id", Model.venue.ID)
                    <button type="submit" class="btn btn-secondary" data-toggle="modal" data-target="#DeleteVenue">
                        Delete Venue
                        <i class="fas fa-minus-circle"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover" table-bordered>
    <thead>
        <tr>
            <th>
                <button class="btn btn-default" value="Artist">Artist</button>
            </th>
            <th>

                <button class="btn btn-default" value="Time">Date</button>
            </th>
            <th>
                <button class="btn btn-default" value="Time">Time</button>
            </th>
            <th>

                <button class="btn btn-default" value="Capacity">Capacity</button>
            </th>
        </tr>
    </thead>
    <tbody id="venueTable">

        @await Html.PartialAsync("Partials/_VenueConcertTable", Model)

    </tbody>
</table>

@section scripts{
    <script>
        $(function () {
            $('.btn').on('click', function () {
                var sortBy = $(this).val()
                $('#venueTable').load('?handler=VenueConcertsPartial&id=' + @Model.id + '&sortBy=' + sortBy);
            });
        });
    </script>
}

<div class="modal fade" id="editVenue" tabindex="-1" role="dialog" aria-labelledby="editVenueLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editVenue"> Edit venue? </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to edit this venue?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> No </button>
                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/EditVenue">
                    <input type="submit" class="btn btn-primary" value="Yes" />
                </a>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="DeleteVenue" tabindex="-1" role="dialog" aria-labelledby="DeleteVenueLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteVenue"> Edit concert ? </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to finish editing without saving?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> No </button>
                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Concerts">
                    <input type="submit" class="btn btn-primary" value="Yes" />
                </a>
            </div>
        </div>
    </div>
</div>*@

@*<div class="modal fade" id="unbookConcert" tabindex="-1" role="dialog" aria-labelledby="unbookConcertLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="unbookConcert"> Unbook participant? </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to unbook this participant from the concert?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> No </button>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Venue">
                        <input type="button" class="btn btn-primary" value="Yes" />
                    </a>
                </div>
            </div>
        </div>
    </div>*@


<div class="modal fade" id="unbookConcert" tabindex="-1" role="dialog" aria-labelledby="unbookConcertLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unbookConcert"> Unbook participant? </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to unbook this participant from the concert?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> No </button>
                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Venue">
                    <input type="button" class="btn btn-primary" value="Yes" />
                </a>
            </div>
        </div>
    </div>
</div>