@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<NorthernWinterBeat.Models.Participant> participants = new List<Models.Participant>(Model.Participants);

    participants = Model.SortParticipants(participants);

    int i = 0;
    foreach (var item in participants)
    {
        <tr onclick="location.href = '@(Url.Page("ParticipantPage", new { id = item.ID }))'">
            <td>
                @item.Username
            </td>
            <td>
                @item.Ticket?.TicketNumber
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.State
            </td>
        </tr>
        i++;
    }
}
