@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model NorthernWinterBeat.Pages.ParticipantConcertOverviewModel
@inject NorthernWinterBeatLibrary.Managers.IImageManager ImageManager
@{

    // Adding rows of concerts based on which day is chosen in the buttons above.
    List<Concert> t1 = Model.ConcertDayChooser(Model.Day ?? default(DateTime));
    t1 = Model.SortConcertBy(t1); 
    foreach (Concert concert in t1)
    {
        <tr onclick="location.href = '@(Url.Page("ParticipantArtist", new { id = concert.ID }))'">
            @{
                var path = ImageManager.ContainerURL + '/' + (concert.PicturePath == "" ? "150.png" : concert.PicturePath);
            }
            <td><img src="@path"style="height:5em; width:5em;" /></td>
            <td><a class="btn-link text-dark">@concert?.Artist</a></td>
            <td>@concert.FormatTime(concert.Start) - @concert.FormatTime(concert.End)</td>
            <td>@(concert.Venue?.Name ?? "")</td>
        </tr>
    }
}